<%= javascript_tag do %>
  $('input[name="optionsRadios"]').on('change', function() {
    $("#cost-number").text($(this).val());
    console.log('change', $(this).val());
  });
<% end %>

<%= javascript_include_tag "payment" %>

<h2> Select your Adopter Package </h2>

<div class="form-group radio-inline">
  <div class="col-sm-4">
    <div class="contribution-select">
      <%= image_tag "basic_shield.png" %>
      <div class="description">
        Basic: $25/month <br/>
        Ensure your child receives all she needs to thrive
      </div>
      <input name="optionsRadios" type="radio" id="inlineRadio1" value="10" checked="true">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="contribution-select">
      <%= image_tag "intermediate_shield.png" %>
      <div class="description">
        Intermediate: $50/month <br/>
        Commit to making a bigger difference
      </div>
      <input name="optionsRadios" type="radio" id="inlineRadio2" value="30">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="contribution-select">
      <%= image_tag "advanced_shield.png" %>
      <div class="description">
        Super:  $100/month<br/>
        Take your child's future to the next level
      </div>
      <input name="optionsRadios" type="radio" id="inlineRadio3" value="100">
    </div>
  </div>
</div>
<div class="cost-description">
  Monthly Recurring Charge: $<span id="cost-number">10</span>
</div>
