<%= javascript_tag do %>
  $('input[name="optionsRadios"]').on('change', function() {
    $("#cost-number").text($(this).val());
    console.log('change', $(this).val());
  });
<% end %>

<div class="col-md-7 center" id="title-text">
	<p class="text-right already-have-account vollkorn">
    Already have an account? 
    <a class="pt-sans" href="/users/sign_in">sign in</a>
  </p>

	<h4 class="text-blue sign-up caption text-center">thank you for choosing to adopt, let's get started. <br><span class="caption small cta">We need to create and account for you.</span></h4>

	<div class="ruler"></div>
	<div class="clearfix"></div>
	
</div>

<hr>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">

    <div class="login-info">
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <%= f.input :first_name, label: "First Name", required: true %>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 ">
          <%= f.input :last_name, label: "Last Name", required: true %>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <%= f.input :email, required: true %>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <%= f.input :password, required: true %>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= f.input :password_confirmation, label: "Confirm Password", required: true %>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group step-bar">
        <div class="col-sm-5"></div>
        <div class="col-sm-2 step nopadding">STEP 1 OF 3</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2 nopadding">
          <div class="next-button btn btn-default" onclick="$('.login-info').hide(); $('.user-info').show();">Next</div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>     

    <div class="user-info" style="display: none">
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 nopadding">
          <%=f.label "Gender" %>
          <div class="form-inline">
            <%= f.input :gender, label: "", as: :radio_buttons, required: true, collection: ['Male', 'Female'] %>
          </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 nopadding">
          <label class="string optional control-label">Date of Birth</label>
          <div class="form-inline">
            <%= f.input :dob, label: "", as: :date, required: true, start_year: 1900, order: [:day, :month, :year] %>
          </div>
        </div>
        <div class="col-sm-1"></div>

      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
        <label class="string control-label" id="address-label">Personal Address</label>
      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <%= f.input :address1, label: "Address Line 1", required: true %>
          </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <%= f.input :address2, label: "Address Line 2", required: false %>
          </div>
        <div class="col-sm-1"></div>        
      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <%= f.input :locality, required: true, label: 'City' %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
          <%= f.input :state, required: true %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <%= f.input :zip, required: true %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <%= f.input :country, required: true %>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group step-bar">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 nopadding">
          <div class="back-button btn btn-default" onclick="$('.user-info').hide(); $('.login-info').show();">Back</div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2 step nopadding">STEP 2 OF 3</div>
        <div class="col-sm-2"></div>
        
        <div class="col-sm-2 nopadding">
          <div class="next-button btn btn-default" onclick="$('.user-info').hide(); $('.payment-info').show();">Next</div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <div class="payment-info" style="display: none">
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <%= render "payment" %>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-roup step-bar">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 nopadding">
          <div class="back-button btn btn-default" onclick="$('.payment-info').hide(); $('.user-info').show();">Back</div>
        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-2 step nopadding">STEP 3 OF 3</div>
        <div class="col-sm-2"></div>

        <div class="col-sm-2 nopadding form-actions">
          <%= f.button :submit, "Finish" %>
        </div>
        <div class="col-sm-1"></div>
      </div>

    </div>
  </div>

<% end %>


<% content_for :js do %>
<script type="text/javascript">
	$(document).ready(function(){
		$('#user_country').val('United States of America');
	});
</script>

<% end %>
