<h1>Recipients</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Family Size</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= recipient.first_name %></td>
        <td><%= recipient.last_name %></td>
        <td><%= recipient.family_memebers.count %></td>
        <td><%= link_to 'Show', [@user, recipient] %></td>
        <td><%= link_to 'Edit', edit_user_recipient_path(@user, recipient) %></td>
        <td><%= link_to 'Destroy', [@user, recipient], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipient', new_recipient_path %>
