<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recipient.email %>
</p>

<%= link_to 'Edit', edit_user_recipient_path(@user, @recipient) %> |
<%= link_to 'Back', user_recipients_path %>
