<!DOCTYPE html>
<html>
<head>
  <title>Luckypennyfund</title>

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/navbar' %>

<% unless notice.blank? %><div class="alert alert-success"><%= notice %></div><% end %>
<% unless alert.blank? %><div class="alert alert-warning"><%= alert %></div><% end %>

<div class="container">
  <%= yield %>
</div>

<div class="footer-wrapper">
  <footer>
    
  </footer>
</div>

</body>

<%= yield :js%>

</html>
