<!DOCTYPE html>
<html>
<head>
  <title>Luckypennyfund</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user %>
    <p class="username"><%= link_to(current_user.email, edit_user_registration_path) %></p>
    <p class="logout"><%= link_to('Logout', destroy_user_session_path, :method => :delete)  %></p>
  <% #elsif current_page?(controller: '/users', action: 'sign_in') %>
  <% else %>
    <p class="login"><%= link_to('Login', new_user_session_path)  %></p>
  <% end %>
    


<%= yield %>

</body>
</html>
